# ========
# for Development
# --------
export DEV_CONFIG_DIR=config.development
export DEV_CREDENTIALS_DIR=${DEV_CONFIG_DIR}/credentials
# ========

# ========
# BFF
# --------
export BFF_PRIVATE_KEY_PEM_STRING="$(cat ${DEV_CREDENTIALS_DIR}/key.pem)"
export BFF_PUBLIC_KEY_PEM_STRING="$(cat ${DEV_CREDENTIALS_DIR}/pubkey.pem)"
# ========

# ========
# Frontend
# --------
export FRONTEND_ENDPOINT_URL_BFF_GRAPHQL=http://$(curl -sL ifconfig.io):4000/graphql
# ========
